In [94]:
import tensorflow as tf
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense
from sklearn.preprocessing import LabelEncoder
from keras.callbacks import EarlyStopping

# Clean and Preprocess Data for Machine Learning
import numpy as np
import pandas as pd

In [95]:
# Add Dataset: Read the csv file into a pandas DataFrame
prep_races = pd.read_csv('Railbird- 2020 Kentucky Derby Prep Races.csv')
prep_races_df = pd.DataFrame(prep_races) 
#prep_races_df = prep_races_df.dropna(subset=["WINNER", "TRK", "ODDS", "JOCKEY"], how='all')
prep_races_df = prep_races_df.dropna(subset=['WINNER'])
prep_races_df = prep_races_df.dropna(subset=['TRK'])
prep_races_df = prep_races_df.dropna(subset=['ODDS'])
prep_races_df = prep_races_df.dropna(subset=['JOCKEY'])
prep_races_df.head()

,DATE,TRK,GRD,DIST,POINTS (LEADERS),RACE (CHART),REPLAY,WINNER,BSF,TFUS,...,MRGN,ODDS,JOCKEY,TRAINER,SIRE,BR-SIRE,PLACED,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1/2/17,AQU,G3,8*,10-4-2-1 (PDF),Jerome Stakes (PDF),Video,El Areeb,91,121,...,11 1/4,2.8,Trevor McCarthy,Cathal Lynch,Exchange Rate,A.P. Indy,"Bonus Points, True Timber, Win With Pride",NaN,NaN,NaN
1,1/7/17,SA,G3,8,10-4-2-1 (PDF),Sham Stakes (PDF),Video,Gormley,94,117,...,Head,1.6,Victor Espinoza,John Shirreffs,Malibu Moon,Bernstein,"American Anthem, Big Hit, Bird Is the Word",NaN,NaN,NaN
2,1/16/17,OP,---,8,10-4-2-1 (PDF),Smarty Jones Stakes (PDF),Video,Uncontested,96,111,...,5 1/4,1.20**,Channing Hill,Wayne Catalano,Tiz Wonderful,Lil E. Tee,"Petrov, Rowdy the Warrior, Warrior's Club",NaN,NaN,NaN
3,1/21/17,FG,G3,8*,10-4-2-1 (PDF),Lecomte Stakes (PDF),Video,Guest Suite,82,103,...,1 1/4,2.80**,Robby Albarado,Neil Howard,Quality Road,Ghostzapper,"Untrapped, Takeoff, Arklow",NaN,NaN,NaN
4,2/4/17,AQU,G3,8.5,10-4-2-1 (PDF),Withers Stakes (PDF),Video,El Areeb,92,109,...,4 1/4,0.55**,Trevor McCarthy,Cathal Lynch,Exchange Rate,A.P. Indy,"True Timber, J Boys Echo, Bonus Points",NaN,NaN,NaN

In [96]:
#prep_races_df["TRK"].unique_values()
#prep_races_df.dtypes
prep_races_df["TRK"].unique

<bound method Series.unique of 0     AQU
1      SA
2      OP
3      FG
4     AQU
     ...
74    AQU
75    KEE
76     SA
77     OP
78    KEE
Name: TRK, Length: 78, dtype: object>

In [104]:
X = prep_races_df[["TRK", "ODDS", "JOCKEY"]]
y = prep_races_df["WINNER"]
print(X.shape, y.shape)

(78, 3) (78,)

In [105]:
# Dummy Encoding transforms each categorical feature into new columns with a 1 (True) or 0 (False) encoding 
# to represent if that categorical label was present or not in the original row.  
# Pandas provides a shortcut to create Binary Encoded data.
data = X.copy()
data = y.copy()

#encode only specific columns using: data_binary_encoded_x = pd.get_dummies(data, columns=["JOCKEY", "TRK"])
#encode all columns using:
data_binary_encoded_x = pd.get_dummies(data)
data_binary_encoded_y = pd.get_dummies(data)

data_binary_encoded_x.head()
data_binary_encoded_y.head()

,Always Dreaming,Anothertwistafate,Audible,Avery Island,Blended Citizen,Bolt d'Oro,Bravazo,By My Standards,Classic Empire,Code of Honor,...,Tacitus,Tapwrit,Tax,Thunder Snow,Uncontested,Vekoma,Vino Rosso,War of Will,Well Defined,Zakaroff
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
#One-Hot Encoding 
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y_train = label_encoder.transform(y)

#encoded_y_test = label_encoder.transform(y_test)
#y_train_categorical = to_categorical(encoded_y_train)
#y_test_categorical = to_categorical(encoded_y_test)

In [107]:
#One-Hot Encoding 

for label, original_class in zip(encoded_y_train, y):
    print('Original Class: ' + str(original_class))
    print('Encoded Label: ' + str(label))
    print('-' * 12)

Original Class: El Areeb
Encoded Label: 11
------------
Original Class: Gormley
Encoded Label: 18
------------
Original Class: Uncontested
Encoded Label: 62
------------
Original Class: Guest Suite
Encoded Label: 20
------------
Original Class: El Areeb
Encoded Label: 11
------------
Original Class: Irish War Cry
Encoded Label: 28
------------
Original Class: Royal Mo
Encoded Label: 53
------------
Original Class: McCraken
Encoded Label: 37
------------
Original Class: Zakaroff
Encoded Label: 67
------------
Original Class: One Liner
Encoded Label: 46
------------
Original Class: Girvin
Encoded Label: 16
------------
Original Class: J Boys Echo
Encoded Label: 29
------------
Original Class: Gunnevera
Encoded Label: 22
------------
Original Class: Tapwrit
Encoded Label: 59
------------
Original Class: Mastery
Encoded Label: 35
------------
Original Class: Malagacy
Encoded Label: 34
------------
Original Class: Thunder Snow
Encoded Label: 61
------------
Original Class: Fast and Accurate
Encoded Label: 13
------------
Original Class: Hence
Encoded Label: 25
------------
Original Class: Girvin
Encoded Label: 16
------------
Original Class: Always Dreaming
Encoded Label: 0
------------
Original Class: Irish War Cry
Encoded Label: 28
------------
Original Class: Irap
Encoded Label: 27
------------
Original Class: Gormley
Encoded Label: 18
------------
Original Class: Classic Empire
Encoded Label: 8
------------
Original Class: Senior Investment
Encoded Label: 55
------------
Original Class: McKinzie
Encoded Label: 38
------------
Original Class: Firenze Fire
Encoded Label: 14
------------
Original Class: Instilled Regard
Encoded Label: 26
------------
Original Class: Mourinho
Encoded Label: 41
------------
Original Class: Avery Island
Encoded Label: 3
------------
Original Class: Audible
Encoded Label: 2
------------
Original Class: Lombo
Encoded Label: 31
------------
Original Class: Flameaway
Encoded Label: 15
------------
Original Class: Paved
Encoded Label: 48
------------
Original Class: Bravazo
Encoded Label: 6
------------
Original Class: My Boy Jack
Encoded Label: 43
------------
Original Class: Promises Fulfilled
Encoded Label: 50
------------
Original Class: Enticed
Encoded Label: 12
------------
Original Class: Quip
Encoded Label: 51
------------
Original Class: Bolt d'Oro
Encoded Label: 5
------------
Original Class: Blended Citizen
Encoded Label: 4
------------
Original Class: Magnum Moon
Encoded Label: 33
------------
Original Class: Noble Indy
Encoded Label: 44
------------
Original Class: Runaway Ghost
Encoded Label: 54
------------
Original Class: Mendelssohn
Encoded Label: 39
------------
Original Class: Audible
Encoded Label: 2
------------
Original Class: Vino Rosso
Encoded Label: 64
------------
Original Class: Good Magic
Encoded Label: 17
------------
Original Class: Justify
Encoded Label: 30
------------
Original Class: Magnum Moon
Encoded Label: 33
------------
Original Class: My Boy Jack
Encoded Label: 43
------------
Original Class: Mind Control
Encoded Label: 40
------------
Original Class: Gunmetal Gray
Encoded Label: 21
------------
Original Class: War of Will
Encoded Label: 65
------------
Original Class: Gray Attempt
Encoded Label: 19
------------
Original Class: Tax
Encoded Label: 60
------------
Original Class: Harvey Wallbanger
Encoded Label: 24
------------
Original Class: Mucho Gusto
Encoded Label: 42
------------
Original Class: Well Defined
Encoded Label: 66
------------
Original Class: Anothertwistafate
Encoded Label: 1
------------
Original Class: War of Will
Encoded Label: 65
------------
Original Class: Super Steed
Encoded Label: 57
------------
Original Class: Code of Honor
Encoded Label: 9
------------
Original Class: Haikal
Encoded Label: 23
------------
Original Class: Tacitus
Encoded Label: 58
------------
Original Class: Somelikeithotbrown
Encoded Label: 56
------------
Original Class: Long Range Toddy
Encoded Label: 32
------------
Original Class: Omaha Beach
Encoded Label: 45
------------
Original Class: By My Standards
Encoded Label: 7
------------
Original Class: Cutting Humor
Encoded Label: 10
------------
Original Class: Plus Que Parfait
Encoded Label: 49
------------
Original Class: Maximum Security
Encoded Label: 36
------------
Original Class: Tacitus
Encoded Label: 58
------------
Original Class: Vekoma
Encoded Label: 63
------------
Original Class: Roadster
Encoded Label: 52
------------
Original Class: Omaha Beach
Encoded Label: 45
------------
Original Class: Owendale
Encoded Label: 47
------------

In [108]:
#One-Hot Encoding 
one_hot_y = to_categorical(encoded_y_train)
one_hot_y

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [109]:
from sklearn.model_selection import train_test_split

X_train = pd.get_dummies(data_binary_encoded_x)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

X_train.head()

    TRK  ODDS             JOCKEY
35   FG    21        Miguel Mena
39  TAM  19.1     Florent Geroux
68   OP   8.4          Jon Court
53   SA   3.7         Mike Smith
40   SA   1.2  Javier Castellano

In [103]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

ValueError: could not convert string to float: 'FG'

In [70]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)

NameError: name 'X_train_scaled' is not defined

In [71]:
from sklearn.metrics import mean_squared_error

predictions = model.predict(X_test_scaled)
MSE = mean_squared_error(y_test_scaled, predictions)
r2 = model.score(X_test_scaled, y_test_scaled)

print(f"MSE: {MSE}, R2: {r2}")

NameError: name 'X_test_scaled' is not defined